*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    scroll-behavior: smoothy;
    font-family: 'Poppins' ,sans-serif;

}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 120px;
    background-color: #11141a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    text-decoration: none;
    color: white;
    font-size: 25px;
    font-weight: 600;
}

nav span {
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
    text-decoration: none;
}

nav span a {
    text-decoration: none;
    color: white;
   
}
nav i {
    margin-right: 10px;
}

nav span.active,
nav a.active,nav span:hover{
    color: #0ef;


}

nav span:hover,nav span a:hover {
    color: #0ef;
}

section {
    min-height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1f242d;
    font-size: 100px;
    color: white;
}
section:nth-child(odd){
    background-color: #323946;
}

.container {
    margin: auto;
    padding: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 0%;
    position: relative;
    bottom: 10px;
    background-color:transparent;
    backdrop-filter: 100px;
    top: 10px;
    /* background-color: yellow; */
    /* padding: 15px 50px;
    overflow: hidden; */
    background-color: black;
}

.name{
    margin-left: 10px;
    color:whitesmoke ;
}

.container ul li {
    list-style: none;
    display: inline-block;
    text-align: center;
    margin-right: 50px;
    font-size: larger;
    color: white;
    padding-top: 10px;
    transform: 0.5s ;
}

.container ul li a{
    text-decoration: none;
    color:whitesmoke;
    font-weight: 400;
}

.container ul li :hover,
.container ul li.active{
    color:gold;
    cursor: pointer;
    transition: 0.5s;
}

.container ul li i {
    margin-right: 8px;
}

.main{
    margin-top: 35px;
    background-color: pink;
    height: 80vh;
    width: 70%;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    border-radius:50px;
    
    box-shadow: 10px 10px red;
    display: flex;
    

}

.img1{
   
  
    background-image: url("img.jpeg");
    background-size: cover;
    
    width: 50%;
    border-bottom-left-radius: 50px;
    border-top-left-radius:50px ;
    box-shadow: 10px 10px gold;
    
    
 


}
.info_main{
    width: 50%;
    background-color:black;
    cursor: pointer;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}
.info_main p{
    text-align: left;
    line-height: 40px;
    padding: 20px 10px 40px 10px;
    color: antiquewhite;
    font-size: medium;
}

.info_main h2 {
    text-align: left;
    padding: 20px 0px 6px 10px;
    color: red;
}

.experience{
    display: inline-block;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-content: center;
}


